
@model HotelMenagmentService.Models.HotelViewModel


@{
    ViewData["Title"] = "Index";
}

<h1> Room List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Room ID
            </th>
            <th>
               Room Number
            </th>
            <th>
               Room Name
            </th>
            <th>
                is occupied
            </th>
            <th>
                for smokers
            </th>
            <th>
                room type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoomList)
        {
           <tr>
               <td>
                   @Html.DisplayFor(modelItem=>item.RoomID)
               </td>
               <td>
                   @Html.DisplayFor(modelItem=>item.number)
               </td>
               <td>
                   @Html.DisplayFor(modelItem=>item.name)
               </td>
               <td>
                   @Html.DisplayFor(modelItem=>item.is_ocuppied)
               </td>
               <td>
                   @Html.DisplayFor(modelItem=>item.smoke)
               </td>
               <td>
                   @Html.DisplayFor(modelItem=>item.nubmerbeds)
               </td>
           </tr>
        }
    </tbody>

</table>